snippet zk-meeting "Zk meeting template"
---
tags:
- meeting
---

# $1 `!v strftime("%Y-%m-%d")`

Attendees:

* Chris Sanders
* $2

$3
endsnippet

snippet zk-coffee "Zk coffee meeting template"
---
tags:
- meeting/coffee
---

# $1 `!v strftime("%Y-%m-%d")`

Attendees:

* Chris Sanders
* $1

$2
endsnippet

snippet zk-tags "Zk tag template"
---
tags:
- $1
---

# $2

$3
endsnippet
