# Zephyr defaults
mattmc3/zephyr path:plugins/color
mattmc3/zephyr path:plugins/completion
mattmc3/zephyr path:plugins/confd
mattmc3/zephyr path:plugins/directory
mattmc3/zephyr path:plugins/editor
mattmc3/zephyr path:plugins/environment
mattmc3/zephyr path:plugins/history
mattmc3/zephyr path:plugins/homebrew
mattmc3/zephyr path:plugins/macos
{{- if eq .chezmoi.os "darwin" }}
# mattmc3/zephyr path:plugins/prompt
{{- else }}
mattmc3/zephyr path:plugins/prompt
{{- end }}
mattmc3/zephyr path:plugins/utility
mattmc3/zephyr path:plugins/zfunctions

# zsh-agent management
bobsoppe/zsh-ssh-agent

# fzf search (history)
unixorn/fzf-zsh-plugin

# fzf completions
Aloxaf/fzf-tab

# powerlevel10k
romkatv/powerlevel10k
