# Terminal colors
set -g default-terminal "xterm-256color"

# Copy to system clipboard
{{- if eq .chezmoi.os "linux" }}
  {{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "/mnt/c/Windows/System32/clip.exe"
  {{- else }}
# Remote Linux (non-WSL)
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel "xclip -selection clipboard"
  {{- end }}
{{- end }}

# Paste from clipboard (for remote)
bind-key -T prefix p run-shell "xclip -o -selection clipboard | tmux load-buffer - ; tmux paste-buffer"
# bind-key -n C-v paste-buffer # Don't do this b/c it conflicts with vim

# use vim style selection and block selection
unbind-key -T copy-mode-vi 'v'
bind-key -T copy-mode-vi 'v' send -X begin-selection

# Set Vim keybindings for copy mode
setw -g mode-keys vi

# Enable mouse mode
set-option -g mouse on

{{- if env "SSH_CONNECTION" }}
# Remote macahines don't process mouse higlights so local machine can
set-option -g mouse off
{{- end }}

# easy-to-remember split pane commands
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %

# moving between panes with vim movement keys
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# moving between windows with vim movement keys
bind -r C-h select-window -t :-
bind -r C-l select-window -t :+

# move windows with vim keys
bind -r M-h swap-window -t -1 \; select-window -t -1
bind -r M-l swap-window -t +1 \; select-window -t +1

# move panes with vim keys
unbind L  # Default switch-client -L
# Just use { and } which are defaults?
#bind H move-pane -L
#bind J move-pane -D
#bind K move-pane -U
#bind L move-pane -R

# Join pane with @ (break pane is ! by default)
bind @ command-prompt -p "create pane from:"  "join-pane -s ':%%'"

# Set the base index for windows to 1 instead of 0
set -g base-index 1

# Set the base index for panes to 1 instead of 0
setw -g pane-base-index 1

# Lower escape time for no lag in vim
set -g escape-time 10

# Setting the prefix from C-b to C-a
set -g prefix C-a
set -g @prefix-mode 'a'
unbind C-b
 
# use C-b for remote sessions
bind-key -n C-b send-keys C-b

# Set T to swap local prefix so C-a can be sent remotely
bind t \
  if-shell -F "#{==:#{prefix},C-a}" \
    "set -g prefix C-b; set -g @prefix-mode 'b'; bind-key -n C-b send-prefix; unbind-key -n C-a; bind-key -n C-a send-keys C-a" \
    "set -g prefix C-a; set -g @prefix-mode 'a'; bind-key -n C-a send-prefix; unbind-key -n C-b; bind-key -n C-b send-keys C-b"

# Disaply active prefix on left
set -g status-left "#{?@prefix-mode,#{@prefix-mode},Unknown}:"
set -g status-left-length 50
 
# Reload the file with Prefix r
bind r source-file ~/.config/tmux/tmux.conf \; display "Reloaded!"

# Better window names
set-option -g status-interval 5
set-option -g automatic-rename on
set-option -g automatic-rename-format "#{?#{==:#{pane_current_command},zsh},#{b:pane_current_path},#{pane_current_command}}"

#### COLOUR (Solarized 256)
# default statusbar colors
set-option -g status-style fg=colour136,bg=colour235 #yellow and base02

# default window title colors
set-window-option -g window-status-style fg=colour244,bg=default #base0 and default

# active window title colors
{{- if env "SSH_CONNECTION" }}
set-window-option -g window-status-current-style fg=colour160,bg=default #remote red and default
{{- else }}
set-window-option -g window-status-current-style fg=colour166,bg=default #local orange and default
{{- end }}

# pane border
set-option -g pane-border-style fg=colour235 #base02
set-option -g pane-active-border-style fg=colour160 #Red for remote
set-option -g pane-active-border-style fg=colour75 #local

# message text
{{- if env "SSH_CONNECTION" }}
set-option -g message-style fg=colour160,bg=colour235 #remote red and base02
{{- else }}
set-option -g message-style fg=colour166,bg=colour235 #local orange and base02
{{- end }}

# pane number display
set-option -g display-panes-active-colour colour33 #blue
{{- if env "SSH_CONNECTION" }}
set-option -g display-panes-colour colour160 #remote red
{{- else }}
set-option -g display-panes-colour colour166 #local orange
{{- end }}

# clock
set-window-option -g clock-mode-colour colour64 #green

# bell
set-window-option -g window-status-bell-style fg=colour235,bg=colour160 #base02, red
