{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) }}
# Add /snap/bin to PATH
add_to_path_once() {
    if [[ ":$PATH:" != *":$1:"* ]]; then
        export PATH="$1:$PATH"
    fi
}

# Add /snap/bin to path
add_to_path_once "/snap/bin"
add_to_path_once "$HOME/local/bin"

# Setup local npm-modules
add_to_path_once "$HOME/.npm-modules/bin"

# Setup flyctl
export FLYCTL_INSTALL="/home/chris/.fly"
export PATH="$FLYCTL_INSTALL/bin:$PATH"

{{- end }}
