{{- if eq .chezmoi.os "darwin" }}
# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# Alias sbctl
alias sbc="sbctl shell --token=$VPTOKEN --support-bundle-location $1"

add_to_path_once() {
    if [[ ":$PATH:" != *":$1:"* ]]; then
        export PATH="$1:$PATH"
    fi
}

# Add go to path
add_to_path_once "/Users/chris/go/bin"

# gcloud completions from homebrew
source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc"
source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"

# Include replicated gcommands
GUSER='chriss'
GPREFIX='chriss'
source ~/src/oh-my-replicated/replicated-gcommands/replicated-gcommands.plugin.zsh

{{- end }}
